button{
    width:23%;
    background: deepskyblue;
    border: 1px solid grey;
}
.inputarea
{
    /* padding-left:8.5px; */
    text-align:end;
    background: black;
    color: white;
    /* border: none; */
    border: 1px solid grey;
}
.container
{
    border: 1px solid black;
    width:14%;
    background:darkgray;
    box-shadow: 2px 2px 2px 1px grey;
}
.equalto
{
    width:48%;
}
.calculator
{
    padding:0.2rem;
}
.row1
{
    margin-top:0.2rem;
}
/* .calc
{
    width:20%;
} */